<h3>
  <a href="https://airtable.com/shrKncu2bCoy9KkeM/tbla1d3aqDtQqprQs/viwBth70i45PhDwaL" target="_blank">Bugs & Issues</a>
</h3>
<ul>
  <ng-container *ngFor="let bug of bugs">
    <li>{{bug.fields.Name}}</li>
  </ng-container>
</ul>
<pre>
  <code>
    <span class="keyword">this</span>.<span class="var">bugs</span> = <span class="keyword">this</span>.<span class="var">_bugIssueTable</span>
      .<span class="method">select</span>(&#123;<span class="var">maxRecords</span>: 10&#125;)
      .<span class="method">firstPage</span>()
      .<span class="var">map</span>(res => res.records)
      .<span class="var">share</span>();
  </code>
</pre>
