<h3>
  Bugs with 'Associated Features'
</h3>
<pre>
  <code>
    <span class="keyword">this</span>.<span class="var">bugsWithFeatures</span> = <span class="keyword">this</span>.<span class="var">_linkedTable</span>
      .<span class="method">select</span>(&#123;<span class="var">maxRecords</span>: 10&#125;)
      .<span class="method">firstPage</span>()
      .<span class="var">share</span>();
  </code>
</pre>
<ul>
  <li *ngFor="let bug of bugsWithFeatures">
    <p>BUG: {{bug?.fields.Name}}</p>
    <ul>
      <li *ngFor="let feature of (bug?.features | async)">
        FEATURE: {{feature?.fields.Feature}}
      </li>
    </ul>
  </li>
</ul>
